@(title: String, user: models.users.User)

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - @title</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Site header and navigation -->
    <header class="top" role="header">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.ProductCtrl.listProducts(0)">C MUSIC</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@routes.ProductCtrl.about()">About</a>
                        </li>
                        <li>
                            <a href="@routes.ProductCtrl.contact()">Contact</a>
                        </li>
                                            <!-- Login/ logout Link - check if user logged in -->
                        <li>
                            @if(user != null) {
                                <a href="@controllers.security.routes.LoginCtrl.logout()">Logout @user.getName()</a>
                            } else {
                                <a href="@controllers.security.routes.LoginCtrl.login()">Login</a>
                            }
                        </li>
                        <li>
                            <a href="@routes.ShoppingCtrl.showBasket()"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>

    <!-- Page Content -->
    <div class="middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">@title</p>
                <div>
            </div>

            <!-- Start Content -->
            
            <div class="container">
                <h2>WHO ARE WE?</h2>
                
                <div class="well">We started this page through our passion for music. Each of us
                    have our own story through music that brought us to this page. We want to share with you the customer our journeys in the music industry.
                </div>
                <div class="well">
                <h4>Conor (X00146070) :</h4> <p>I began listening to music at a young age listening to my dads old record collection, whic included musicsal
                classics like Pink Floyds "The Wall".</p>
                <img src="project/public/images/OtherImages/PinkFloyd.jpg" class="img-rounded" alt="Pink Floyd - The Wall" width="304" height="236"> 
                <p>As I grew older I began exploring my own tastes in the music world.This involved many huge artists such as Damon Albarn and his many Colaborative 
                projects such as Gorillaz and The Good The Bad and the Queen. </p>
                <p>These many artists allowed me to explore many genres and inspire me to begin learning and playing music with such instruments like the Fender Bass 
                    available from our product selection <a href="http://localhost:9000/listProducts?cat=3">here</a>.
                </p> 
                </div>

                <div class="well">
                    <h4>Calvin (X00145307) :</h4> 
                        <p>I began writing and playing music from very early in my career. It helped me escape to my own music world so to speak.
                        </p>
                        <p>I Listen to many past and current artist in the music industry. These include legendary albums like "Abbey Road" by the Beatles and 
                            more current artists Like Ed Sheeran and his <a href="http://localhost:9000/listProducts?cat=6&filter=X">Album X</a>.
                        </p>
                        <p>As I began writing and composing music, I felt I wanted to share what I was making with the world. So I created my own <a href="https://open.spotify.com/artist/5k4mgNHwJFKYRxgz0a11is">Spotify Account</a> and began to 
                            produce and display my music to a larger and more available accross the world.
                        </p> 
                </div>

                <div class="well">
                        <h4>Ciaran (X00145140) :</h4> <p>I began listening to club and house music when I grew older and began to try understand how this genre of music
                            was composed and created</p>
                        </div>
                
                
              </div>

            <!-- End Content -->

        </div>
        <!-- /.container -->
    </div>

    <!-- Footer -->
    <div class="bottom">
        <div class="container">
            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Created by </p>
                        <p>Calvin Hynes X00145307</p>
                        <p>Ciaran McGarry X00145140</p>
                        <p>Conor Morrin X00146070</p>
                    </div>
                </div>
            </footer>
        </div>
    <!-- /.container -->
    </div>

    <!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>
